.user-profile-details{
  margin: 0 auto;
  width: 34em;
}

.user-profile-avatar{
  width: 100px;
  height: 100px;
  margin-bottom: 1em;
  border: 5px solid #e32c5d;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
